@model Task1.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
 

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>@Html.Raw(Model.name)</h3>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-md-2">
                <h4>@Html.DisplayNameFor(model => model.why)</h4>
            </div>
            <div class="col-md-10">
                @Html.Raw(Model.why)
            </div>
        </div>

        <hr />

        <div class="panel-body">
            <div class="col-md-2">
                <h4>@Html.DisplayNameFor(model => model.what)</h4>
            </div>
            <div class="col-md-10">
                @Html.Raw(Model.what)
            </div>
        </div>

        <hr />

        <div class="panel-body">
            <div class="col-md-2">
                <h4>@Html.DisplayNameFor(model => model.how)</h4>
            </div>
            <div class="col-md-10">
                @Html.Raw(Model.how)
            </div>
        </div>

        <hr />

        <div class="panel-body">
            <div class="col-md-2">
                <h4>@Html.DisplayNameFor(model => model.eta)</h4>
            </div>
            <div class="col-md-10">
                @Html.Raw(Model.eta)
            </div>
        </div>

        <hr />

        <div class="panel-body">
            <div class="col-md-2">
                <h4>@Html.DisplayNameFor(model => model.Files)</h4>
            </div>
            <div class="col-md-10">
                <ol class="well">
                    @foreach (var file in Model.Files)
                    {
                        <li>
                            @Html.Raw(file.Name)
                        </li>
                    }
                </ol>
            </div>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index", new { id = Model.StoryId })
        </div>
    </div>

    </div>
